<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h2><a href="http://shamya.github.io">Shamya Karumbaiah</a></h2>
			<header class="info">
				<ul>
					<li><a href="mailto:shamya16@gmail.com">email</a> &nbsp</li>
					<li><a href="https://github.com/Shamya">git</a> &nbsp</li>
					<li><a href="https://www.linkedin.com/in/shamya-karumbaiah-54901222">linkedin</a> &nbsp</li>
					<li><a href="https://www.facebook.com/ShamyaKarumbaiah">fb</a> &nbsp</li>
					<li><a href="https://drive.google.com/file/d/0Bz8URmIw_ZdjV2dXZEUtVXRfOVU/view?usp=sharing">cv</a> &nbsp</li>
					<li><a href="https://drive.google.com/file/d/0Bz8URmIw_ZdjZ1g4ejUyODJjVmM/view">statement</a></li>
				</ul>
			<header>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/research">Research</a></li>
        		<li><a href="/projects">Projects</li>
        		<li><a href="/outreach">Outreach</li>
        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			</br>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			</br>

		</body>
	</html>
