<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h2><a href="http://tatinati-writings.github.io">Tatinati Sivanagaraja</a></h2>
			<header class="info">
				<ul>
					<li><a href="mailto:tatinati@ntu.edu.sg">email</a> &nbsp</li>
					<li><a href="https://github.com/tatinati-writings">git</a> &nbsp</li>
					<li><a href="https://www.linkedin.com/in/tatinati-sivanagaraja-01435a52">linkedin</a> &nbsp</li>
					</ul>
			<header>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/research">Research</a></li>
        		<li><a href="/projects">Projects</li>
        		<li><a href="/outreach">Outreach</li>
        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			</br>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			</br>

		</body>
	</html>
